<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PlatziCommerce</title>
  <link rel="stylesheet" href="./styles.css" />
</head>
<body>
  <div id="app">
    <header>
      <h3>PlatziCommerce</h3>
      <button class="cart" v-on:click="cartOpen = !cartOpen" >Cart ({{cart.length}})</button>
      <div class="cart-content" v-show="cartOpen">
        <div 
        class="cart-content__product" 
        v-for="(product, index) in cart" 
        :key="product.name"
        :class="{ 'bg-gray': index & 1 }"
        >
          <img :src="product.images[0].image" :alt="product.name.toUpperCase()" />
          <span>{{ product.name }} - $ {{ new Intl.NumberFormat("en-EN").format(product.price * product.quantity)}} ({{ product.quantity }}) </span>
        </div>
        <p>Total: $ {{ new Intl.NumberFormat("en-EN").format(total) }}</p>
      </div>
    </header>
    <main>
      <product 
      v-for="product in products" :key="product.name"
      :product="product"
      @sendtocart="addToCart($event)"
      >
    </product>

    </main>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    const { createApp, ref, reactive, toRefs, watch } = Vue;

    const app = createApp({
      
      setup() {
        const products = ref([
            {
              name: "Camera",
              price: 450_000,
              stock: 3,
              content: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                atque dolorum corporis, reiciendis eaque temporibus quod magnam amet
                ea natus delectus? Aut placeat ipsam minus labore voluptas. Porro,
                vel aliquid!`,
              images: [
                {
                  image: "./images/camara.jpg",
                  thumbnail: "./images/camara-thumb.jpg"
                },
                {
                  image: "./images/camara-2.jpg",
                  thumbnail: "./images/camara-2-thumb.jpg"
                }
              ],
              offer: true,
              new: true,
              quantity: 1
            },
            {
              name: "Microphone",
              price: 950_000,
              stock: 3,
              content: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                atque dolorum corporis, reiciendis eaque temporibus quod magnam amet
                ea natus delectus? Aut placeat ipsam minus labore voluptas. Porro,
                vel aliquid!`,
              images: [
                {
                  image: "./images/camara.jpg",
                  thumbnail: "./images/camara-thumb.jpg"
                },
                {
                  image: "./images/camara-2.jpg",
                  thumbnail: "./images/camara-2-thumb.jpg"
                }
              ],
              offer: true,
              new: true,
              quantity: 1
            },
            {
              name: "Camera PL",
              price: 250_000,
              stock: 2,
              content: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                atque dolorum corporis, reiciendis eaque temporibus quod magnam amet
                ea natus delectus? Aut placeat ipsam minus labore voluptas. Porro,
                vel aliquid!`,
              images: [
                {
                  image: "./images/camara.jpg",
                  thumbnail: "./images/camara-thumb.jpg"
                },
                {
                  image: "./images/camara-2.jpg",
                  thumbnail: "./images/camara-2-thumb.jpg"
                }
              ],
              offer: true,
              new: true,
              quantity: 1
            },
            {
              name: "Phones PL",
              price: 750_000,
              stock: 5,
              content: `Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
                atque dolorum corporis, reiciendis eaque temporibus quod magnam amet
                ea natus delectus? Aut placeat ipsam minus labore voluptas. Porro,
                vel aliquid!`,
              images: [
                {
                  image: "./images/camara.jpg",
                  thumbnail: "./images/camara-thumb.jpg"
                },
                {
                  image: "./images/camara-2.jpg",
                  thumbnail: "./images/camara-2-thumb.jpg"
                }
              ],
              offer: true,
              new: true,
              quantity: 1
            }
          ]);
       
         const cartState = reactive({
           cartOpen: false,
           cart: [],
           total: 0
         });

         function addToCart(product) {
      const prodIndex = cartState.cart.findIndex(prod => prod.name === product.name);
      if (prodIndex >= 0) {
        cartState.cart[prodIndex].quantity += 1;
      } else {
        cartState.cart.push(product);
      }
      product.stock -= 1;
    }

    watch(cartState.cart, (value, oldValue) => {
      cartState.total = cartState.cart.
        reduce((prev, curr) => {
          const prevPrice = prev.price || prev;
          const prevQuantity = prev.quantity || 1;
          return prevPrice * prevQuantity + curr.price * curr.quantity;
          }, 0)
    })

         return {
           ...toRefs(cartState),

           addToCart,

           products
         };
       }
      });
  </script>

  <script src="./Product.js"></script>

  <script>
    app.mount("#app");
  </script>
</body>
</html>